<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<%
if (useragent === "Windows" || useragent === "Linux" || useragent === "Mac") {
%>
<script>
    location.href = "https://naver.com";
</script>
<%
}
else{
%>
<script>
    location.href = "https://m.naver.com";
</script>
<%
}
%>
</body>
</html>